
:root {
	--primary: rgba(37, 37, 37, 1.0);
	--secondary: rgba(252, 41, 74, 1.0);
	--shades: rgba(238, 238, 238, 1.0);
}
body {
	font-family: "Poppins", sans-serif;
	line-height: 1.6;
	margin: 0;
    font-weight: bold;
}

.header,
.home,
.about,
.portfolio,
.contact {
	height: 100vh;
}

.header,
.home,
.about,
.portfolio,
.contact,
.footer {
	position: relative;
}

.header h1,
.home h1,
.about h1,
.portfolio h1,
.contact h1,
.footer h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header h1::before,
.home h1::before,
.about h1::before,
.portfolio h1::before,
.contact h1::before,
.footer h1::before {
	content: '#';
}

.header h1,
.footer h1 {
	color: var(--shades);
}

.footer {
	height: 50vh;
	background-color: var(--primary);
}

.header {
	background-color: var(--primary);
}
